* {
  font-family: "Rubik", sans-serif;
}

.customIntroiImg {
  width: 100%;
  height: 400px !important;
  border-radius: 10px;
}

.container-custom {
  width: 700px !important;
}

@media (max-width: 500px) {
  .customIntroiImg {
    width: 100% !important;
    height: 100%;
  }
}
