.custom-img {
  object-fit: cover;

  margin-bottom: 20px;

  padding-top: 10px;
}
.heading {
  font-weight: bold;
  font-size: 44px;
  color: #385b64;
}
.brand-name {
  color: #ffc901 !important;
}

.custom-btn-position {
  position: absolute;
  top: 30px;
  left: 45%;
}
